@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Updated...Black Men Coding is an awesome training. Visit us at <a target="_blank" href="https://www.blackmencode.tech">Black Men Coding</a> </p>
</div>
